[buildout]
# index = http://d.pypi.python.org/simple
extends = ../versions/versions.cfg
parts =
    pyramid
    directories
    pyramid-ini
# who-ini

extensions =
    mr.developer

sources = sources
auto-checkout = *

versions = versions

develop =


[config]
pyramid_port = 8211
git_abstract_url = git://git.abstract.it/
pg_host = 127.0.0.1
pg_port = 5432
pg_user = tradaweb
pg_password = tradaweb
pg_dbname = tradaweb
pg_location = /home/zope/postgresql/parts/postgresql
lost_password_name = TradaWeb
lost_password_email = tradaweb@isprambiente.it
lost_password_subject = Lost password
mail_host = smtp.isprambiente.it
mail_port = 25
mail_user = None
mail_password = None
mail_ssl = False


[directories]
recipe = z3c.recipe.mkdir
paths =
        ${buildout:directory}/var
        ${buildout:directory}/var/log


[pyramid]
recipe = zc.recipe.egg
dependent-scripts = true
eggs =
    totalvalidatorfrontend

interpreter = py


[sources]
totalvalidatorfrontend = fs totalvalidatorfrontend


[pyramid-ini]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/production.in
output = ${buildout:directory}/etc/production.ini


[who-ini]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/who.in
output = ${buildout:directory}/etc/who.ini
